PORT=4000
HOST=0.0.0.0
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/complaints-db?retryWrites=true&w=majority
DB_NAME=complaints-db
CORS_ORIGIN=*
AUTH_TOKEN_SECRET=replace-with-a-long-random-secret
AUTH_TOKEN_TTL_SECONDS=43200
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
HYDERABAD_USERNAME=hyderabad_user
HYDERABAD_PASSWORD=change-me
CYBERABAD_USERNAME=cyberabad_user
CYBERABAD_PASSWORD=change-me
MALKAJGIRI_USERNAME=malkajgiri_user
MALKAJGIRI_PASSWORD=change-me
FUTURE_CITY_USERNAME=futurecity_user
FUTURE_CITY_PASSWORD=change-me
